{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}| Posts{% endblock %}</h1>
{% endblock %}
    {% block img %}
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
    {% endblock %}

{% block content %}
  {% for post in posts %}
    {% if g.user['id'] == post['author_id'] %}
      <article class="post-pessoal">
          <p class="hora-msg">{{ post['created'].strftime('%H:%M') }}</p>
          <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
            <input class="icone" type = "image" src = "{{ url_for('static', filename='icone1.png') }}" alt = "Deletar" />
          </form>
        </header>
        <p class="body-msg">{{ post['body'] }}</p>
      </article>
    {% endif %}
    {% if g.user['id'] != post['author_id'] %}
      <article class="post-normal">
          <p class="pessoa-msg"><b>{{ post['username'] }}</b></p>
          <p class="hora-msg">{{ post['created'].strftime('%H:%M') }}</p>
          <p class="body-msg">{{ post['body'] }}</p>
      </article>
    {% endif %}
  {% endfor %}
  <form method="post" class="barra-msg">
      <div class="center-block">
            <textarea class="input-msg" name="body" id="body">{{ request.form['body'] }}</textarea>
            <input class="btn-msg" type = "image" src = "{{ url_for('static', filename='icone2.png') }}" alt = "Enviar">
      </div>
  </form>
{% endblock %}