{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}| Log In{% endblock %}</h1>
{% endblock %}
{% block img %}
<a href="/"><img class="logo" src="{{ url_for('static', filename='logo.png') }}"></a>
{% endblock %}

{% block content %}
  <form method="post">
    <input class="input-auth" name="username" placeholder="Nome de usuário" id="username2" required>
    <input class="input-auth" type="password" name="password" placeholder="Senha" id="password" required>
    <input class="inputBtn" type="submit" value="Entrar">
  </form>
{% endblock %}