<!doctype html>
<title>Chat Online {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="../static/style1.css">
<body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<nav>
  {% block img %}{% endblock %}
  <ul>
    {% if g.user %}
      <li class="nome-inicial" onclick="togle('blocklado')"><img class="icone1" src="https://images.vexels.com/media/users/3/147102/isolated/preview/082213cb0f9eabb7e6715f59ef7d322a---cone-do-perfil-do-instagram-by-vexels.png">
          <p class="text4">{{ g.user['username'] }}</p>
      </li>
      <!--<li class="btn-logout"><a href="{{ url_for('auth.logout') }}">Log Out</a>-->
    {% else %}
    <li class="btn-inicial"><a href="{{ url_for('auth.register') }}"><p class="text1">Registre-se</p></a>
    <li class="btn-inicial"><a href="{{ url_for('auth.login') }}"><p class="text1">Faça Login</p></a>
    {% endif %}
  </ul>
</nav>
<div class="bloco-lado oculto" id="blocklado">
    <div class="fundo-escurrecido"></div>
    <div class="fundo-branco"><li class="btn-lado red"><a href="{{ url_for('auth.logout') }}"><p class="text5">Sair</p></a></div>
</div>
<div class="desfoque-tela"></div>
<section class="content" id="scroll">
    {% block content %}{% endblock %}
</section>
<p class="text2">2019</p>
<p class="text3">João e Jean</p>
</body>